Repository Kurlabo/backend, pull requests merged in 2021-02, with the labels that each got.

#11 Add Dummy APIs
  build.gradle
  src/main/java/com/kurlabo/backend/controller/GoodsController.java
  src/main/java/com/kurlabo/backend/controller/MainController.java
  src/main/java/com/kurlabo/backend/controller/MemberController.java
  src/main/java/com/kurlabo/backend/controller/MypageController.java
  src/main/java/com/kurlabo/backend/converter/JsonConverter.java
  src/main/java/com/kurlabo/backend/converter/StringRevisor.java
  src/main/java/com/kurlabo/backend/dto/MainDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/CartTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/FindIdDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/FindPwdDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/MainTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/MyinfoDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/OrderDetailDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/OrderListDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/OrderedProductsDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/ProductInfoDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/QnaDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/UserInfoDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/WishListDto.java
  src/main/java/com/kurlabo/backend/exception/ResourceNotFoundException.java
  src/test/java/com/kurlabo/backend/controller/CartControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MainControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MemberControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MypageControllerTest.java
Labels: Java, MySQL, enhancement

#13 Add Dummy API
  build.gradle
  src/main/java/com/kurlabo/backend/controller/BoardController.java
  src/main/java/com/kurlabo/backend/controller/GoodsController.java
  src/main/java/com/kurlabo/backend/controller/MemberController.java
  src/main/java/com/kurlabo/backend/dto/testdto/BoardDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/MemberDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/ProductDetailDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/ProductInfoDto.java
  src/test/java/com/kurlabo/backend/controller/BoardControllerTest.java
  src/test/java/com/kurlabo/backend/controller/GoodsControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MemberControllerTest.java
Labels: enhancement

#22 Add DB datas and settings
  build.gradle
  src/main/java/com/kurlabo/backend/controller/MemberController.java
  src/main/java/com/kurlabo/backend/memberjoin/controller/CrudInterface.java
  src/main/java/com/kurlabo/backend/memberjoin/model/network/response/UserApiResponse.java
  src/main/java/com/kurlabo/backend/model/Insta_src.java
  src/main/java/com/kurlabo/backend/model/Main_src.java
  src/main/java/com/kurlabo/backend/model/Order.java
  src/main/java/com/kurlabo/backend/model/Product.java
  src/main/java/com/kurlabo/backend/model/Slide_img.java
  src/main/java/com/kurlabo/backend/repository/InsertDBRepository.java
  src/main/java/com/kurlabo/backend/repository/InstaSrcRepository.java
  src/main/java/com/kurlabo/backend/repository/MainSrcRepository.java
  src/main/java/com/kurlabo/backend/repository/SlideImgRepository.java
  src/main/resources/application.properties
  src/test/java/com/kurlabo/backend/controller/MemberControllerTest.java
  src/test/java/com/kurlabo/backend/database/InsertDBTest.java
  src/test/java/com/kurlabo/backend/memberjoin/repository/UserRepositoryTest.java
Labels: Java, MySQL, enhancement

#41 상품 후기 API
  src/main/java/com/kurlabo/backend/controller/GoodsController.java
  src/main/java/com/kurlabo/backend/dto/testdto/ProductDetailDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/ProductInfoDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/ReviewDto.java
  src/main/java/com/kurlabo/backend/model/Review.java
  src/main/java/com/kurlabo/backend/repository/OrderRepository.java
  src/main/java/com/kurlabo/backend/repository/ReviewRepository.java
  src/main/java/com/kurlabo/backend/service/ReviewService.java
  src/test/java/com/kurlabo/backend/service/ReviewServiceTest.java
Labels: Java, enhancement

#42 Fixed Merge Conflict issue
  build.gradle
  src/main/java/com/kurlabo/backend/controller/BoardController.java
  src/main/java/com/kurlabo/backend/controller/GoodsController.java
  src/main/java/com/kurlabo/backend/controller/MainController.java
  src/main/java/com/kurlabo/backend/controller/MemberController.java
  src/main/java/com/kurlabo/backend/controller/MypageController.java
  src/main/java/com/kurlabo/backend/controller/OrderController.java
  src/main/java/com/kurlabo/backend/dto/ReviewDto.java
  src/main/java/com/kurlabo/backend/dto/goods/InsertCartDto.java
  src/main/java/com/kurlabo/backend/dto/mypage/DeleteWishListDto.java
  src/main/java/com/kurlabo/backend/dto/mypage/InsertWishListDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/BoardTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/FindIdTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/FindPwdTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/MemberTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/MyinfoTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/OrderDetailDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/OrderListDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/OrderListTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/OrderedProductsTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/ProductDetailTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/ProductInfoTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/QnaTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/UserInfoTestDto.java
  src/main/java/com/kurlabo/backend/dto/testdto/WishListTestDto.java
  src/main/java/com/kurlabo/backend/model/Board.java
  src/main/java/com/kurlabo/backend/model/Favorite.java
  src/main/java/com/kurlabo/backend/repository/BoardRepository.java
  src/main/java/com/kurlabo/backend/repository/FavoriteRepository.java
  src/main/java/com/kurlabo/backend/service/BoardService.java
  src/main/java/com/kurlabo/backend/service/FavoriteService.java
  src/main/java/com/kurlabo/backend/service/GoodsService.java
  src/main/java/com/kurlabo/backend/service/MemberService.java
  src/main/java/com/kurlabo/backend/service/OrderService.java
  src/main/java/com/kurlabo/backend/service/ReviewService.java
  src/test/java/com/kurlabo/backend/controller/BoardControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MemberControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MypageControllerTest.java
  src/test/java/com/kurlabo/backend/controller/OrdersControllerTest.java
  src/test/java/com/kurlabo/backend/database/InsertDBTest.java
  src/test/java/com/kurlabo/backend/service/ReviewServiceTest.java
Labels: Java, enhancement

#55 Refactor FavoriteList / getCart
  src/main/java/com/kurlabo/backend/controller/BoardController.java
  src/main/java/com/kurlabo/backend/controller/GoodsController.java
  src/main/java/com/kurlabo/backend/controller/MainController.java
  src/main/java/com/kurlabo/backend/controller/MypageController.java
  src/main/java/com/kurlabo/backend/dto/cart/CartDataDto.java
  src/main/java/com/kurlabo/backend/dto/mypage/FavoriteDataDto.java
  src/main/java/com/kurlabo/backend/dto/mypage/FavoriteProductDto.java
  src/main/java/com/kurlabo/backend/repository/FavoriteRepository.java
  src/main/java/com/kurlabo/backend/service/CartService.java
  src/main/java/com/kurlabo/backend/service/FavoriteService.java
  src/test/java/com/kurlabo/backend/controller/GoodsControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MypageControllerTest.java
  src/test/java/com/kurlabo/backend/database/InsertDBTest.java
Labels: Java, enhancement

#57 Develop
  src/main/java/com/kurlabo/backend/controller/BoardController.java
  src/main/java/com/kurlabo/backend/controller/GoodsController.java
  src/main/java/com/kurlabo/backend/controller/MainController.java
  src/main/java/com/kurlabo/backend/controller/MypageController.java
  src/main/java/com/kurlabo/backend/dto/cart/CartDataDto.java
  src/main/java/com/kurlabo/backend/dto/mypage/FavoriteDataDto.java
  src/main/java/com/kurlabo/backend/dto/mypage/FavoriteProductDto.java
  src/main/java/com/kurlabo/backend/repository/FavoriteRepository.java
  src/main/java/com/kurlabo/backend/service/CartService.java
  src/main/java/com/kurlabo/backend/service/FavoriteService.java
  src/test/java/com/kurlabo/backend/controller/GoodsControllerTest.java
  src/test/java/com/kurlabo/backend/controller/MypageControllerTest.java
  src/test/java/com/kurlabo/backend/database/InsertDBTest.java
Labels: enhancement

#58 fix: fixed error Test.
  src/test/java/com/kurlabo/backend/controller/MypageControllerTest.java
Labels: bug

#59 Develop
  src/test/java/com/kurlabo/backend/controller/MypageControllerTest.java
Labels: bug

#64 fix: fixed error test
  src/main/java/com/kurlabo/backend/controller/GoodsController.java
  src/main/java/com/kurlabo/backend/controller/MypageController.java
  src/main/java/com/kurlabo/backend/repository/ReviewRepository.java
  src/main/java/com/kurlabo/backend/service/GoodsService.java
  src/main/java/com/kurlabo/backend/service/MypageAddressService.java
  src/main/java/com/kurlabo/backend/service/ReviewService.java
  src/test/java/com/kurlabo/backend/controller/MypageControllerTest.java
  src/test/java/com/kurlabo/backend/service/GoodsServiceTest.java
Labels: Java, enhancement
